@use '../Styles/Variables';

.badge-comic
{
    background-color: black; 
   color: Variables.$color3;
   background-image: radial-gradient(Variables.$color3 0.5px, transparent 0.8px);
   background-size: 5px 5px;
   padding: 3px 15px;
   box-shadow: 6px 5px 0px Variables.$bg-secondary ;
   font-weight: 600;  
   border: 3px solid;
   margin: 0px 20px;
   border-radius: 15px;
   letter-spacing: 0.5px;

}
.badge-web-yellow
{
    background-color: Variables.$bg-tertiary; 
   color: Variables.$color1;
   background-image: url(resources-badges/telarañas-negras.png);
   padding: 3px 15px;
   box-shadow: 6px 5px 0px Variables.$color1;
   font-weight: 600;  
   margin: 0px 20px;
   border: 3px solid Variables.$color3;
   border-radius: 15px;
   letter-spacing: 0.5px;
}
.badge-web-yellow2
{
    background-color: Variables.$bg-tertiary; 
   color: Variables.$color1;
   background-image: url(resources-badges/telarañas-negras.png);
   padding: 3px 15px;
   box-shadow: 6px 5px 0px Variables.$color4;
   font-weight: 600;  
   margin: 0px 20px;
   border: 3px solid Variables.$color3;
   border-radius: 15px;
   letter-spacing: 0.5px;
}
.badge-web-blue
{
    background-color: Variables.$color2; 
   color: Variables.$color3;
   background-image: url(resources-badges/telarañas-blancas.png);
   padding: 3px 15px;
   box-shadow: 6px 5px 0px Variables.$bg-secondary;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
   font-weight: 600;  
   border: 3px solid white;
   margin: 0px 20px;
   letter-spacing: 0.5px;
}
.badge-dot-red
{
    border: 1px solid Variables.$bg-primary;
    display: inline-flex;
    align-items: center;
    margin: 0px 15px;
    padding: 2px 5px;
    width: auto;
    border-radius: 10px;
    vertical-align: middle;
    letter-spacing: 1px;
}
#icon-badge-red{
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url(resources-badges/spider-red-icon.png);
    background-size: cover;
    margin-right: 5px;
}

.badge-dot-green {
    border: 1px solid Variables.$bg-primary;
    display: inline-flex;
    align-items: center;
    margin: 0px 5px;
    padding: 2px 5px;
    width: auto;
    border-radius: 10px;
    vertical-align: middle;
    letter-spacing: 0.5px;
  }
  
#icon-badge-green {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url(resources-badges/spider-green-icon.png);
    background-size: cover;
    margin-right: 5px;
  }
  
  
  
  
