body{
  background-color: #0d1425;
  color: white;
}
h1{
  text-align: center;
  font-size: 4rem;
  margin: 1rem;
}
h3{
  text-align: center;
  font-size: 1.5rem;
}
.main__head__logo{
  padding: 10px;
  width: 30rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.main__head__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.main__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.main__head__content h1{
  font-weight: bold;
}
.main__content h1{
  font-weight: bold;
}