body{
  background-color: #0d1425;
  color: white;
}
.main__head__logo{
  padding: 10px;
  width: 30rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.main__head__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.main__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.main__section{
  margin: 50px auto;
}
.main__title{
  margin: 50px;
}
.main__content__title{
  font-weight: bolder;
  margin: 50px;
}
.main__content__p{
  margin: 20px;
}
.main__section__art{
  margin: 50px auto;
}