@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");


/*=====================
    FONT SIZE
=====================*/

.fs-1 {
    font-size: 12px;
}
.fs-2 {
    font-size: 14px;
}
.fs-3 {
    font-size: 18px;
}
.fs-4 {
    font-size: 20px;
}
.fs-5 {
    font-size: 24px;
}
.fs-6 {
    font-size: 28px;
}
.fs-7 {
    font-size: 32px;
}
.fs-8 {
    font-size: 36px;
}
.fs-9 {
    font-size: 40px;
}
.fs-10 {
    font-size: 44px;
}
.fs-11 {
    font-size: 48px;
}
.fs-12 {
    font-size: 52px;
}
.fs-13 {
    font-size: 56px;
}
.fs-14 {
    font-size: 60px;
    
}


/*=====================
    FONT WEIGHT
=====================*/

.fw-thin {
    font-weight: 100;
}
.fw-light {
    font-weight: 300;
}
.fw-normal {
    font-weight: 400;
}
.fw-med {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}
.fw-bold{
    font-weight: 700;
}
.fw-bolder {
    font-weight: 800;
}
.fw-heavy {
    font-weight: 900;
}

/*=====================
    FONT COLOR
=====================*/
.font-color-red {
    color: #BF0426;
}
.font-color-blue {
    color: #172D44;
}
.font-color-dark-blue {
    color: #0A0E17;
}
.font-color-dark-gray {
    color: #161616;
}
.font-color-white {
    color: #FEF9FF;
}
.font-color-yellow {
    color: #FEF400;
}
.font-color-magenta {
    color: #C0189B;
}

/*=====================
    FONT TYPE
=====================*/

.font-style-italic {
    font-style: italic;
}
.font-style-oblique {
    font-style: oblique;
}
.font-style-normal {
    font-style: normal;
}
.font-primario {
    font-family: "Open Sans", sans-serif;
}
.font-comic {
    font-family: "Comic Neue", cursive;
}



