@use 'variables';

/**CONTENEDORES*/
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: variables.$spacing-8 auto;
}

.comic-yellow{
  color: variables.$color1;
  background-color: variables.$bg-tertiary;
  background-image: radial-gradient(variables.$bg-secondary 10%, transparent 11%);
  background-size: 10px 10px;
  box-shadow: 6px 6px 0px #333;
  border: 2px solid black;
  margin-top: variables.$spacing-8;
}
.comic-red{
  color: variables.$color3;
  background-color: variables.$bg-secondary;
  background-image: radial-gradient(#010577 10%, transparent 11%);
  background-size: 10px 10px;
  box-shadow: 6px 6px 0px #333;
  border: 2px solid black;
  margin-top: variables.$spacing-8;
}
  

@media (min-width: 375px) {
    .container, .container-sm {
      max-width: 370px;
    }
    .comic-red, .comic-yellow {
      max-width: 320px;
    }
  }
  
  @media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
    .comic-red, .comic-yellow {
      max-width: 530px;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px;
    }
    .comic-red, .comic-yellow {
      max-width: 710px;
    }
  }
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
    .comic-red, .comic-yellow {
      max-width: 950px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
    .comic-red, .comic-yellow{
      max-width: 1140px;
    }
  }

  @media (min-width: 375px) {
    .row{
      display: flex;
      flex-wrap:  wrap;
      width: 100%;
    }
  }
  
  @media (min-width: 576px) {
    .row{
      display: flex;
      flex-wrap:  wrap;
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .row{
      display: flex;
      flex-wrap:  wrap;
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .row{
      display: flex;
      flex-wrap:  wrap;
      width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .contain
    .row{
      display: flex;
      flex-wrap:  nowrap;
      width: 100%;
    }
  }
  
  .col{
    flex: 1 0 0%;
    padding: variables.$spacing-8;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .col-1  { 
    padding: variables.$spacing-8;
    flex: 0 0 8.33%;  
    max-width: 8.33%;  
  }
  .col-2  { 
    padding: variables.$spacing-8;
    flex: 0 0 16.66%; 
    max-width: 16.66%; 
  }
  .col-3  { 
    padding: variables.$spacing-8;
    flex: 0 0 25%;    
    max-width: 25%;    
  }
  .col-4  { 
    padding: variables.$spacing-8;
    flex: 0 0 33.33%; 
    max-width: 33.33%; 
  }
  .col-5  { 
    padding: variables.$spacing-8;
    flex: 0 0 41.66%; 
    max-width: 41.66%; 
  }
  .col-6  { 
    padding: variables.$spacing-8;
    flex: 0 0 50%;    
    max-width: 50%;    
  }
  .col-7  { 
    padding: variables.$spacing-8;
    flex: 0 0 58.33%; 
    max-width: 58.33%; 
  }
  .col-8  { 
    padding: variables.$spacing-8;
    flex: 0 0 66.66%; 
    max-width: 66.66%; 
  }
  .col-9  { 
    padding: variables.$spacing-8;
    flex: 0 0 75%;    
    max-width: 75%;    
  }
  .col-10 { 
    padding: variables.$spacing-8;
    flex: 0 0 83.33%; 
    max-width: 83.33%; 
  }
  .col-11 { 
    padding: variables.$spacing-8;
    flex: 0 0 91.66%; 
    max-width: 91.66%; 
  }
  .col-12 { 
    padding: variables.$spacing-8;
    flex: 0 0 100%;   
    max-width: 100%;   
  }
  
  /*CLASES UTILITARIAS*/
  .text-center{
    text-align: center;
  }
  .align-items-start{
    align-items: flex-start;
  }
  .align-items-center{
    align-items: center;
  }
  .align-items-end{
    align-items: flex-end;
  }
  .align-self-center{
    align-self: center;
  }
  .align-self-start{
    align-self: self-start;
  }
  .align-self-end{
    align-self: self-end;
  }
  .justify-content-start{
    justify-content: flex-start;
  }
  .justify-content-end{
    justify-content: flex-end;
  }
  .justify-content-center{
    justify-content: center;
  }
  .justify-content-between{
    justify-content: space-between;
  }
  .justify-content-around{
    justify-content: space-around;
  }
  .justify-content-evenly{
    justify-content: space-evenly;
  }
  .order-first{
    order: -1;
  }
  .order-last{
    order: 12;
  }
  .order-1{
    order: 1;
  }
  .order-2{
    order: 2;
  }
  .order-3{
    order: 3;
  }
  .order-4{
    order: 4;
  }
  .order-5{
    order: 5;
  }
  .order-6{
    order: 6;
  }
  .order-7{
    order: 7;
  }
  .order-8{
    order: 8;
  }
  .order-9{
    order: 9;
  }
  .order-10{
    order: 10;
  }
  .order-11{
    order: 11;
  }
  .order-12{
    order: 12;
  }