@use 'variables';

/*=====================
      VARIABLES
=====================*/
h1 { font-size: 3rem; display: block !important;}
h2 { font-size: 2.5rem;display: block !important;}
h3 { font-size: 2rem;display: block !important;}
h4 { font-size: 1.5rem;display: block !important;}
h5 { font-size: 1.25rem;display: block !important;}
h6 { font-size: 1rem;display: block !important;}

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-44: 44px;
$font-size-46: 46px;
$font-size-48: 48px;
$font-size-50: 50px;


$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;


$font-style-italic: italic;
$font-style-oblique: oblique;
$font-style-normal: normal;

/*=====================
    FONT SIZE
=====================*/

.fs-12 {font-size: $font-size-12  !important;}
.fs-14 {font-size: $font-size-14  !important;}
.fs-16 {font-size: $font-size-16 !important;}
.fs-18 {font-size: $font-size-18 !important;}
.fs-20 {font-size: $font-size-20 !important;}
.fs-22 {font-size: $font-size-22 !important;}
.fs-24 {font-size: $font-size-24 !important;}
.fs-26 {font-size: $font-size-26 !important;}
.fs-28 {font-size: $font-size-28 !important;}
.fs-30 {font-size: $font-size-30 !important;}
.fs-32 {font-size: $font-size-32 !important;}
.fs-34 {font-size: $font-size-34 !important;}
.fs-36 {font-size: $font-size-36 !important;}
.fs-38 {font-size: $font-size-38 !important;}
.fs-40 {font-size: $font-size-40 !important;}
.fs-42 {font-size: $font-size-42 !important;}
.fs-44 {font-size: $font-size-44 !important;}
.fs-46 {font-size: $font-size-46 !important;}
.fs-48 {font-size: $font-size-48 !important;}
.fs-50 {font-size: $font-size-50 !important;}


/*=====================
    FONT WEIGHT
=====================*/

.fw-thin {font-weight: $font-weight-100 !important;}
.fw-light {font-weight: $font-weight-300 !important;}
.fw-normal {font-weight: $font-weight-400 !important;}
.fw-med {font-weight: $font-weight-500 !important;}
.fw-semibold {font-weight: $font-weight-600 !important;}
.fw-bold{font-weight: $font-weight-700 !important;}
.fw-bolder {font-weight: $font-weight-800 !important;}

/*=====================
    FONT COLOR
=====================*/
.font-color-red {
    color: variables.$bg-secondary   !important;
}
.font-color-blue {
    color: variables.$color2  !important;
}
.font-color-darkblue {
    color: variables.$bg-primary  !important;
}
.font-color-darkgray {
    color: variables.$color1  !important;
}
.font-color-white {
    color: variables.$color3  !important;
}
.font-color-yellow {
    color: variables.$bg-tertiary  !important;
}
.font-color-magenta {
    color: variables.$color4  !important;
}

/*=====================
    FONT TYPE
=====================*/

.font-style-italic {
    font-style: $font-style-italic  !important;
}
.font-style-oblique {
    font-style: $font-style-oblique  !important;
}
.font-style-normal {
    font-style: $font-style-normal  !important;
}
.font-comic {
    font-family: variables.$font-primario  !important;
}
.font-primary{
    font-family: variables.$font-secundario  !important;
}

/*=====================
        MARGINS
=====================*/
.magin-0 {margin: variables.$spacing-0 !important;}
.margin-4 {margin: variables.$spacing-4 !important;}
.margin-8 {margin: variables.$spacing-8 !important;}
.margin-12 {margin: variables.$spacing-12 !important;}
.margin-16 {margin: variables.$spacing-16 !important;}
.margin-20 {margin: variables.$spacing-20 !important;}
.margin-24 {margin: variables.$spacing-24 !important;}
.margin-28 {margin: variables.$spacing-28 !important;}
.margin-32 {margin: variables.$spacing-32 !important;}
.margin-36 {margin: variables.$spacing-36 !important;}
.margin-48 {margin: variables.$spacing-48 !important;}

.margin-top-0 {margin-top: variables.$spacing-0 !important;}
.margin-top-4 {margin-top: variables.$spacing-4 !important;}
.margin-top-8 { margin-top: variables.$spacing-8 !important;}
.margin-top-12 {margin-top: variables.$spacing-12 !important;}
.margin-top-16 {margin-top: variables.$spacing-16 !important;}
.margin-top-20 {margin-top: variables.$spacing-20 !important;}
.margin-top-24 {margin-top: variables.$spacing-24 !important;}
.margin-top-28 {margin-top: variables.$spacing-28 !important;}
.margin-top-32 {margin-top: variables.$spacing-32 !important;}
.margin-top-36 {margin-top: variables.$spacing-36 !important;}
.margin-top-48 {margin-top: variables.$spacing-48 !important;}

.margin-bottom-0 {margin-bottom: variables.$spacing-0 !important;}
.margin-bottom-4 {margin-bottom: variables.$spacing-4 !important;}
.margin-bottom-8 {margin-bottom: variables.$spacing-8 !important;}
.margin-bottom-12 {margin-bottom: variables.$spacing-12 !important;}
.margin-bottom-16 {margin-bottom: variables.$spacing-16 !important;}
.margin-bottom-20 {margin-bottom: variables.$spacing-20 !important;}
.margin-bottom-24 {margin-bottom: variables.$spacing-24 !important;}
.margin-bottom-28 {margin-bottom: variables.$spacing-28 !important;}
.margin-bottom-32 {margin-bottom: variables.$spacing-32 !important;}
.margin-bottom-36 {margin-bottom: variables.$spacing-36 !important;}
.margin-bottom-48 {margin-bottom: variables.$spacing-48 !important;}

.margint-right-0 {margin-right: variables.$spacing-0 !important;}
.margin-right-4 {margin-right: variables.$spacing-4 !important;}
.margin-right-8 {margin-right: variables.$spacing-8 !important;}
.margin-right-12 {margin-right: variables.$spacing-12 !important;}
.margin-right-16 {margin-right: variables.$spacing-16 !important;}
.margin-right-20 {margin-right: variables.$spacing-20 !important;}
.margin-right-24 {margin-right: variables.$spacing-24 !important;}
.margin-right-28 {margin-right: variables.$spacing-28 !important;}
.margin-right-32 {margin-right: variables.$spacing-32 !important;}
.margin-right-36 {margin-right: variables.$spacing-36 !important;}
.margin-right-48 {margin-right: variables.$spacing-48 !important;}

.margin-left-0 {margin-left: variables.$spacing-0 !important;}
.margin-left-4 {margin-left: variables.$spacing-4 !important;}
.margin-left-8 {margin-left: variables.$spacing-8 !important;}
.margin-left-12 {margin-left: variables.$spacing-12 !important;}
.margin-left-16 {margin-left: variables.$spacing-16 !important;}
.margin-left-20 {margin-left: variables.$spacing-20 !important;}
.margin-left-24 {margin-left: variables.$spacing-24 !important;}
.margin-left-28 {margin-left: variables.$spacing-28 !important;}
.margin-left-32 {margin-left: variables.$spacing-32 !important;}
.margin-left-36 {margin-left: variables.$spacing-36 !important;}
.margin-left-48 {margin-left: variables.$spacing-48 !important;}


/*=====================
    PADDINGS
=====================*/

.padding-0 {padding: variables.$spacing-0 !important;}
.padding-4 {padding: variables.$spacing-4 !important;}
.padding-8 {padding: variables.$spacing-8 !important;}
.padding-12 {padding: variables.$spacing-12 !important;}
.padding-16 {padding: variables.$spacing-16 !important;}
.padding-20 {padding: variables.$spacing-20 !important;}
.padding-24 {padding: variables.$spacing-24 !important;}
.padding-28 {padding: variables.$spacing-28 !important;}
.padding-32 {padding: variables.$spacing-32 !important;}
.padding-36 {padding: variables.$spacing-36 !important;}
.padding-48 {padding: variables.$spacing-48 !important;}

.padding-top-0 {margin-top: variables.$spacing-0 !important;}
.padding-top-4 {padding-top: variables.$spacing-4 !important;}
.padding-top-8 {padding-top: variables.$spacing-8 !important;}
.padding-top-12 {padding-top: variables.$spacing-12 !important;}
.padding-top-16 {padding-top: variables.$spacing-16 !important;}
.padding-top-20 {padding-top: variables.$spacing-20 !important;}
.padding-top-24 {padding-top: variables.$spacing-24 !important;}
.padding-top-28 {padding-top: variables.$spacing-28 !important;}
.padding-top-32 {padding-top: variables.$spacing-32 !important;}
.padding-top-36 {padding-top: variables.$spacing-36 !important;}
.padding-top-48 {padding-top: variables.$spacing-48 !important;}

.padding-bottom-0 {padding-bottom: variables.$spacing-0 !important;}
.padding-bottom-4 {padding-bottom: variables.$spacing-4 !important;}
.padding-bottom-8 {padding-bottom: variables.$spacing-8 !important;}
.padding-bottom-12 {padding-bottom: variables.$spacing-12 !important;}
.padding-bottom-16 {padding-bottom: variables.$spacing-16 !important;}
.padding-bottom-20 {padding-bottom: variables.$spacing-20 !important;}
.padding-bottom-24 {padding-bottom: variables.$spacing-24 !important;}
.padding-bottom-28 {padding-bottom: variables.$spacing-28 !important;}
.padding-bottom-32 {padding-bottom: variables.$spacing-32 !important;}
.padding-bottom-36 {padding-bottom: variables.$spacing-36 !important;}
.padding-bottom-48 {padding-bottom: variables.$spacing-48 !important;}

.padding-right-0 {padding-right: variables.$spacing-0 !important;}
.padding-right-4 {padding-right: variables.$spacing-4 !important;}
.padding-right-8 {padding-right: variables.$spacing-8 !important;}
.padding-right-12 {padding-right: variables.$spacing-12 !important;}
.padding-right-16 {padding-right: variables.$spacing-16 !important;}
.padding-right-20 {padding-right: variables.$spacing-20 !important;}
.padding-right-24 {padding-right: variables.$spacing-24 !important;}
.padding-right-28 {padding-right: variables.$spacing-28 !important;}
.padding-right-32 {padding-right: variables.$spacing-32 !important;}
.padding-right-36 {padding-right: variables.$spacing-36 !important;}
.padding-right-48 {padding-right: variables.$spacing-48 !important;}

.padding-left-0 {padding-left: variables.$spacing-0 !important;}
.padding-left-4 {padding-left: variables.$spacing-4 !important;}
.padding-left-8 {padding-left: variables.$spacing-8 !important;}
.padding-left-12 {padding-left: variables.$spacing-12 !important;}
.padding-left-16 {padding-left: variables.$spacing-16 !important;}
.padding-left-20 {padding-left: variables.$spacing-20 !important;}
.padding-left-24 {padding-left: variables.$spacing-24 !important;}
.padding-left-28 {padding-left: variables.$spacing-28 !important;}
.padding-left-32 {padding-left: variables.$spacing-32 !important;}
.padding-left-36 {padding-left: variables.$spacing-36 !important;}
.padding-left-48 {padding-left: variables.$spacing-48 !important;}



/*=====================
        BORDES
=====================*/
.border-none {
  border: none !important;
}
.border-1 {
    border: 1px solid black !important;
}
.border-2{
    border: 2px solid black  !important;
}
.border-3
{
    border: 3px solid black  !important;
}
.border-4
{
    border: 4px solid black  !important;
}
.border-5 {
    border: 5px solid black  !important;
}
.border-6 {
    border: 6px solid black  !important;
}
.border-7 {
    border: 7px solid black  !important;
}
.border-8 {
    border: 8px solid black  !important;
}
.border-9 {
    border: 9px solid black  !important;
}
.border-10 {
    border: 10px solid black  !important;
}

.border-red {border-color: variables.$bg-secondary  !important;}
.border-blue {border-color: variables.$color2 !important;}
.border-darkblue { border-color: variables.$bg-primary !important;}
.border-darkgray {border-color: variables.$color1 !important;}
.border-white {border-color: variables.$color3 !important;}
.border-yellow {border-color: variables.$bg-tertiary !important;}
.border-magenta {border-color: variables.$color4 !important;}

.border-radius-0 {border-radius: variables.$spacing-0 !important;}
.border-radius-4 {border-radius: variables.$spacing-4 !important;}
.border-radius-8 {border-radius: variables.$spacing-8 !important;}
.border-radius-12 {border-radius: variables.$spacing-12 !important;}
.border-radius-16 {border-radius: variables.$spacing-16 !important;}
.border-radius-20 {border-radius: variables.$spacing-20 !important;}
.border-radius-24 {border-radius: variables.$spacing-24 !important;}
.border-radius-28 {border-radius: variables.$spacing-28 !important;}
.border-radius-32 {border-radius: variables.$spacing-32 !important;}
.border-radius-36 {border-radius: variables.$spacing-36 !important;}
.border-radius-full {border-radius: 999px !important;}

.align-items-start{
  align-items: flex-start  !important;
}
.align-items-center{
  align-items: center  !important;
}
.align-items-end{
  align-items: flex-end  !important;
}
.align-self-center{
  align-self: center  !important;
}
.align-self-start{
  align-self: self-start  !important;
}
.align-self-end{
  align-self: self-end  !important;
}
.justify-content-start{
  justify-content: flex-start  !important;
}
.justify-content-end{
  justify-content: flex-end  !important;
}
.justify-content-center{
  justify-content: center  !important;
}
.justify-content-between{
  justify-content: space-between  !important;
}
.justify-content-around{
  justify-content: space-around  !important;
}
.justify-content-evenly{
  justify-content: space-evenly  !important;
}
.order-first{
  order: -1  !important;
}
.order-last{
  order: 12  !important;
}
.order-1{
  order: 1  !important;
}
.order-2{
  order: 2  !important;
}
.order-3{
  order: 3  !important;
}
.order-4{
  order: 4  !important;
}
.order-5{
  order: 5  !important;
}
.order-6{
  order: 6  !important;
}
.order-7{
  order: 7  !important;
}
.order-8{
  order: 8  !important;
}
.order-9{
  order: 9  !important;
}
.order-10{
  order: 10  !important;
}
.order-11{
  order: 11  !important;
}
.order-12{
  order: 12;
}


/*========================================
          REDONDEAR ELEMENTOS
========================================*/


.br-sm{
  border-radius: 0.25rem !important;
}

.br-md{
  border-radius: 1rem !important;
}

.br-lg{
  border-radius: 3rem !important;
}

.br-xl{
  border-radius: 5rem !important;
}

.br-full{
  border-radius: 100% !important;
}



/*=======================================
          OCULTAR ELEMENTOS
========================================*/

// Estas clases son para ocultar completamente elementos en diferentes tamaños de pantalla
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

@each $breakpoint, $size in $breakpoints {
  @media (min-width: #{$size}) {
    .hidden--#{$breakpoint} {
    display: none !important;
    }
  }
}


// Esta clase es para ocultar completamente cualquier elemento
.hide-everything{
  display: none !important;
}


// Esta clase oculta completamente con una animación de desvanecimiento
.fade-everything {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: visibility 0s 0.5s, opacity 0.5s ease-out !important;
}



/*============================================
          COLORES DE FONDO DE ELEMENTOS
=============================================*/

$colors: (
  "blue-black": variables.$bg-primary,
  "deep-red": variables.$bg-secondary,
  "sun-yellow": variables.$bg-tertiary,

  "charcoal-gray": variables.$color1,
  "dark-blue": variables.$color2,
  "warm-white": variables.$color3,
  "hot-pink": variables.$color4
);
            
// Generamos las clases utilitarias
@each $nombre, $color in $colors {
  .bg-#{$nombre} {
    background-color: $color !important;
  }
}