// fuentes Open Sans, Anton, Gloria Hallelujah
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gloria+Hallelujah&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// paleta de colores
//fondos
$bg-primary: #0A0E17;
$bg-secondary: #BF0426;
$bg-tertiary: #FEF400;

//adicionales
$color1: #161616;
$color2: #172D44;
$color3: #FEF9FF;
$color4: #C0189B;


// fuentes principales
$font-primario: 'Comic Sans MS', cursive, sans-serif;
$font-secundario: 'Open Sans', sans-serif;

// fuentes cards
$font-title-cards: 'Anton', sans-serif;
$font-content-card1: 'Gloria Hallelujah', cursive;
$font-content-card2: $font-primario;

// Espacioados para margenes y paddings
$spacing-0: 0px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-48: 48px;