@use '../Styles/Variables'; 
@import url(../Styles/Reset.css);

*{
    box-sizing: border-box;
}

// barra de navegación principal
.menu {
    background-color: Variables.$bg-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 0 5%;

    font-family: Variables.$font-primario;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;

    // contenedor para la imagen
    .menu__imagen{
        height: 150px;
        width: 100%;
        max-width: 200px;
        min-width: 100px;
        max-height: 200px;
        min-height: 100px;
        mask-image: 
            linear-gradient(to right, transparent, black 30%, black 70%, transparent),
            linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
        mask-composite: intersect;
     
        & > img{
            width: 100%;
            height: 100%;
        }
    }

    // contenedor para control de busqueda
    .menu__busqueda{

        position: relative;
        background-color: white;
        display: flex;
        border: none;
        opacity: 1;
        
        .busqueda--barra{
            background-color: red;
        }
        
    }

    // .menu__busqueda::before{
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 150%;
        
    //     top: -22%;
    //     z-index: -1;
    // }



    // contenedor para los enlaces de navegación
    .menu__nav {
        background-color: Variables.$bg-primary;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
             
        z-index: 1;
        gap: 10px;

        // estilo base para los elementos enlaces
        %elementos {
            min-width: 150px;
            max-width: 270px;
            background-color: Variables.$bg-primary;
            position: relative;
            display: block;
            padding: 1rem;
            transition: 0.5s;
            
            text-decoration: none;
            color: white;
            border: Variables.$bg-primary 3px solid;
            border-radius: 0.2rem;
        }

        /*Elemento normal*/
        .nav__elemento{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav__elemento a {
            @extend %elementos;
            width: 100%;
            height: 100%;
        }


        //por defecto al hacer click en enlaces (sirve para pantallas queno cuenten con cursor)
        @media (hover:none) {
            .nav__elemento a:active {
                color: black;
                background-color: yellow;
                background-image: radial-gradient(red 10%, transparent 11%);
                background-size: .8rem .8rem;
                animation: 0.5s glitch 1;
            }
        }

        // estilo en hover solo si la pantalla cuenta con cursor
        @media (hover: hover) {
            .nav__elemento a:before {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                width: 100%;
                height: 100%;
                background: Variables.$bg-secondary;
                background-image: radial-gradient(Variables.$bg-primary 15%, transparent 11%);
                background-size: .4rem .4rem;
                z-index: -1;
                transition: transform 0.5s ease-in-out;
            }

            .nav__elemento a:hover {
                background-color: yellow;
                background-image: radial-gradient(red 5%, transparent 11%);
                background-size: .8rem .8rem;
            }

            .nav__elemento a:before {
                transform-origin: top;
                transform: scaleY(0);
            }

            .nav__elemento a:hover:before {
                transform-origin: bottom;
                transform: scaleY(1);
            }

            .nav__elemento a:hover {
                animation: 0.3s glitch 1;
                color: black;
            }
        }

        // animacion glitch para el texto
        @keyframes glitch {
            0% {
                text-shadow: red -4px 0, cyan 4px 0;
            }

            50% {
                text-shadow: red 4px 0, cyan -4px 0;
            }

            100% {
                text-shadow: red -4px 0, cyan 4px 0;
            }
        }

        /*Elemento dropdown*/
        .nav__elemento--dropdown {
            position: relative;
            @extend %elementos; 
                   
            
            // contenedor para ver los subelementos del dropdown
            .dropdown__boton{
                cursor: pointer;
                background-color: Variables.$bg-primary;
                

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                text-align: center;

                // flecha indicadora en el dropdown
                .flecha {
                    position: relative;
                    display: inline-block;
                    height: 1rem;
                    width: 1rem;
                    margin-left: .5rem;
                    margin-top: .2rem;
                }
        
                // grosor y posicion de la flecha
                .flecha div {
                    position: absolute;
                    height: .8rem;
                    width: .8rem;
                    border-top: .2rem white solid;
                    border-left: .2rem white solid;
                    transform: rotate(225deg);
                    transition: transform 0.3s ease;
                }
            }

            // contenedor para los subelementos del dropdown
            .dropdown__lista{
                background-color: Variables.$bg-primary;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 0 0 0.2rem 0.2rem;

                gap: .5rem;
                display: none;

                // asegura que se vea enfrente de todo
                z-index: 100;

                .nav__elemento a{
                    font-size: 1rem;
                }

                .nav__elemento a:before {
                    background-color: Variables.$color4;
                }
            }

            // animacion para animar la flecha en el dropdown
            &:hover {
                 >.dropdown__boton .flecha div {
                    transform: rotate(45deg);
                }

                .dropdown__lista {            
                    min-width: 100%;
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    opacity: 1; 
                    
                    .nav__elemento a, .nav__elemento a:active{
                        padding: 1rem;                        
                    }            
                }
            }         
        }
    }
}

// configuracion para moviles cambia a columnas los elementos en navbar
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        .navbar__nav{
            >.nav__elemento--dropdown{
                padding: 0 30px;
            }
        }
    }

    .navbar__nav{
        flex-direction: column;   
    }
}