@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gloria+Hallelujah&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.shadow-none {
  box-shadow: none !important;
}

.shadow-peq {
  box-shadow: 0 4px 8px gray !important;
}

.shadow-med {
  box-shadow: 0px 8px 16px gray !important;
}

.shadow-large {
  box-shadow: 0px 10px 20px gray !important;
}

.shadow-comic {
  box-shadow: 4px 4px 0px #161616 !important;
}

.shadow-comic-red {
  box-shadow: 4px 4px 0px #BF0426 !important;
}

.shadow-comic-blue {
  box-shadow: 4px 4px 0px #172D44 !important;
}

.shadow-comic-yellow {
  box-shadow: 4px 4px 0px #FEF400 !important;
}

.shadow-comic-white {
  box-shadow: 4px 4px 0px #FEF9FF !important;
}

.shadow-comic-magenta {
  box-shadow: 4px 4px 0px #C0189B !important;
}

.shadow-comic-darkblue {
  box-shadow: 4px 4px 0px #0A0E17 !important;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin-top: 15px;
  background-color: #ffffff;
}

/*=====================
        INPUT DATE
=====================*/
.input-date {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.input-week {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.input-month {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.input-datetime {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.input-time {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.input-date:hover,
.input-week:hover,
.input-month:hover,
.input-datetime:hover,
.input-time:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
        INPUTS COLOR
=====================*/
.input-color {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 4px 4px 0px #BF0426;
  border: 1px solid black;
  background-color: transparent;
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
}

.input-color-dark {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 4px 4px 0px #BF0426;
  border: 1px solid black;
  background-color: #FEF9FF;
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: 0.1s linear all;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}

input[type=color]::-moz-color-swatch {
  border: none;
  border-radius: 10px;
}

.input-color:hover,
.input-color-dark:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
    INPUTS BUTTON
=====================*/
.input-button {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
}

.input-button:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
    INPUTS RESET
=====================*/
.input-reset {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
}

.input-reset:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
     INPUTS SUBMIT
=====================*/
.input-submit {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
}

.input-submit:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
        INPUTS NUMBER
=====================*/
.input-number {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
}

.input-number:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
 INPUTS TEXT, PASSWORD, EMAIL
=====================*/
.input {
  padding: 10px 15px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  margin-bottom: 20px;
  transition: 0.1s linear all;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  border-radius: 10px;
}

.input:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
        LABELS
=====================*/
.label-form {
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 600;
  display: block;
}

.label-form-light {
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #FEF9FF;
  font-weight: 600;
  display: block;
}

/*=====================
ELIMINAR ANTES DE SUBIR
=====================*/
div {
  width: 90%;
  margin: 0 auto;
}

/*=====================
    FORM-LAYOUT
=====================*/
.form-layout {
  background-color: #0A0E17;
  padding: 20px 30px;
  border-radius: 15px;
  border: 2px solid rgb(255, 0, 0);
  overflow: hidden;
  margin-bottom: 20px;
}

/*=====================
        CHECKBOX
=====================*/
.checkbox-label-light {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  padding: 5px 10px;
  padding-right: 15px;
  border-radius: 15px;
  color: #FEF9FF;
}

.checkbox-label-dark {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  color: #000000;
  padding: 5px 10px;
  padding-right: 15px;
  border-radius: 15px;
  font-weight: 600;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-flex;
  border: 2px solid #BF0426;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 5px;
  transition: 0.3s ease-in-out all;
}

input[type=checkbox]:checked {
  background-color: #172d44;
  outline: none;
}

input[type=checkbox]:checked::after {
  content: "🕸️";
  font-weight: 500;
  font-size: 15px;
  position: relative;
  top: -2px;
  left: -2px;
  outline: none;
}

input[type=checkbox]:hover {
  background-color: #172d44;
  content: "🕸️";
  font-weight: 500;
  font-size: 15px;
  position: relative;
  top: -2px;
  left: -2px;
  outline: none;
}

/*=====================
        SELECT
=====================*/
.select {
  display: block;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  font-size: medium;
  margin-bottom: 20px;
  padding-right: 20%;
  transition: 0.1s linear all;
}
.select option {
  background-color: #0A0E17;
  color: white;
}

.select:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
       DATALIST
=====================*/
.datalist {
  display: block;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #BF0426;
  font-size: medium;
  margin-bottom: 20px;
  transition: 0.1s linear all;
}

.datalist:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
        TEXTAREA
=====================*/
.textarea {
  width: 100%;
  height: 200px;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 4px 4px 0px #BF0426;
  padding: 10px 10px;
  outline: none;
  margin-bottom: 20px;
  margin-top: 5px;
  display: block;
  transition: 0.1s linear all;
}

.textarea:hover {
  transform: scale(1.005);
  background-color: #fef9ff;
}

/*=====================
     RADIO BUTTON
=====================*/
.radio-label-dark {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  color: #FEF9FF;
}

.radio-label-light {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  color: black;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 2px solid #BF0426;
  width: 16px;
  height: 16px;
}

input[type=radio]:checked {
  background-color: #FEF400;
  border: 4px solid #BF0426;
}

input[type=radio]:hover {
  background-color: #FEF400;
  border: 4px solid #BF0426;
}

/*=====================
     FIELDSET Y LEGEND
=====================*/
.fieldset-form {
  border: 3px solid #161616;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #FEF9FF;
}

.fieldset-form-dark {
  border: 3px solid #FEF9FF;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #161616;
}

.legend {
  padding: 5px 10px;
  border-radius: 10px;
  border: 3px solid #0A0E17;
  font-weight: 600;
  background-color: #FEF9FF;
}

/*=====================
      INPUT FILE
=====================*/
.file-container {
  border: 0;
  display: inline-block;
  position: relative;
  background-color: #BF0426;
  color: #FEF9FF;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.1s linear all;
  cursor: pointer;
}
.file-container input[type=file] {
  display: none;
}
.file-container i {
  margin-right: 5px;
  cursor: pointer;
}
.file-container label {
  font-weight: 500;
  cursor: pointer;
}

.file-container:hover,
.file-container:focus,
.file-container:active {
  transform: scale(1.05);
}

.file-bordeado {
  background-color: transparent;
  border: 2px solid #BF0426;
  color: #BF0426;
}/*# sourceMappingURL=forms.css.map */